<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="*" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE" />
				<add name="Feature-Policy" value="sync-xhr http://localhost:9002 http://localhost:9003 http://localhost:9004 http://localhost:9005; accelerometer 'none'; camera 'none'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; payment 'none'; usb 'none'" />
			</customHeaders>
		</httpProtocol>
    <urlCompression doStaticCompression="false" />
	</system.webServer>
</configuration>